{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Online Screen Text Translator</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    a{
        text-decoration: none;
    }
    </style>
</head>
<body>
    <div class="w3-top">
        <div class="w3-bar w3-deep-purple w3-card w3-left-align w3-large">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-deep-purple" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
          <a href="#topbar" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
          <a href="#link1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">How To Use</a>
          <a href="#middle" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Translator</a>
          <a href="#link3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
          <a href="#link4" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>
        </div>
      

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
          <a href="#link1" class="w3-bar-item w3-button w3-padding-large">How To Use</a>
          <a href="#middle" class="w3-bar-item w3-button w3-padding-large">Translator</a>
          <a href="#link3" class="w3-bar-item w3-button w3-padding-large">About Us</a>
          <a href="#link4" class="w3-bar-item w3-button w3-padding-large">Contact US</a>
        </div>
      </div>


    <header id="topbar" class="w3-container w3-deep-purple w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">READ-EASY</h1>
        <p class="w3-xlarge">An Online Screen Translator developed to translate Text on Screen in Real-Time.</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="#middle"> Get Started</a></button>
      </header>

      <div id="link1" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
          <div class="w3-twothird">
            <h1>How To Use</h1>
            <video width="420" height="440" controls>
                <source src="{% static 'HowtoUse.mp4' %}" type="video/mp4">
                <!-- <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag. -->
              </video> 
          </div>
      
          <div class="w3-third w3-center">
            <i class="fa fa-book w3-padding-64 w3-text-deep-purple" style="font-size: 200px;"></i>
          </div>
        </div>
      </div>
      
      <!-- Second Grid -->
      <div id="middle" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content" >
          <div class="w3-third w3-center">
            <i class="fa fa-gear fa-spin w3-padding-64 w3-text-deep-purple w3-margin-right" style="font-size: 200px;"></i>
          </div>
      
          <div class="w3-twothird">
            <h1>Ready To Translate !!</h1>
            <h5 style="padding-bottom: 25px;"><u>Important: It is necessary to choose the Window Screen to be translated.</u></h5>

            <form action="/run" method="get">
                <div style="margin-bottom: 15px;">
                    <h4> <label for="window-select">Choose the window screen to be translated:</label></h4>
                <select class="w3-select w3-border" name="windowtile" id="window-select">
                <!-- <option value="">--Please choose an option--</option> -->
                {% for window in list_of_openwindows %}
                <option value="{{window}}">{{window}}</option>
                {% endfor %}
                </select>
                <br>
                </div>
                <div style="margin-bottom: 15px;">
                <h4><label for="color-select">Choose the text Color:</label></h4>
                <select class="w3-select w3-border" name="textcolor" id="color-select">
                <!-- <option value="">--Please choose an option--</option> -->
                {% for window in colorlist %}
                <option value="{{window}}">{{window}}</option>
                {% endfor %}
                </select>
                <br>
                </div>
            
                <div style="margin-bottom: 15px;">
                <h4><label for="langdet">Choose the Language to be Translated:</label></h4>
                <select class="w3-select w3-border" name="langdet" id="langdet">
                <option value="auto">Auto</option>
                {% for window in langlist %}
                <option value="{{window}}">{{window}}</option>
                {% endfor %}
                </select>
                <br>
                </div>
            
                <div style="margin-bottom: 15px;">
                <h4><label for="langtrans">Choose the Language to be translated:</label></h4>
                <select class="w3-select w3-border" name="langtrans" id="langtrans">
                <!-- <option value="">--Please choose an option--</option> -->
                {% for window in langlist %}
                <option value="{{window}}">{{window}}</option>
                {% endfor %}
                </select>
                <br>
                </div>
            
                <button type="submit" class="w3-button w3-black w3-hover-deep-purple w3-round-large w3-xlarge " onclick="twowindow()"> Translate</button>
                    
            
                    </form>
      
            <!-- <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          </div>
        </div>
      </div>
      
      <div id="link3" class="w3-container w3-black w3-center w3-opacity w3-padding-64">
          <h1>About Us</h1>
        <div class="w3-col w3-container m4 l4 ">
            <p>Siddharth Sharma</p>
            <p>1810110247</p>
          </div>
          <div class="w3-col w3-container m4 l4">
            <p>Salil Saxena</p>
            <p>1810110207</p>
          </div>
          <div class="w3-col w3-container m4 l4">
            <p>Priyam Agarwal</p>
            <p>1810110179</p>
          </div>
      </div>
      
      <!-- Footer -->
      <footer id="link4" class="w3-container w3-padding-64 w3-center w3-opacity">  
       <h1> <a href="mailto:pa836@snu.edu.in">Contact Us: pa836@snu.edu.in</a></h1>
      </footer>
      
    <script>
        function twowindow(){
            window.open('http://127.0.0.1:8000/run', '_self');   
            window.open('http://127.0.0.1:8000/viewImage', '_blank');
        };
    </script>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
